<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artist Page</title>
  <link rel="stylesheet" href="../visuel/css/artist.css">
</head>
<body>
  <div class="">
    <a href="" class="">Back to home</a>
    <h1 class="" id="artist-name"></h1>
    <div class="">
      <div class="">
        <h2>Members</h2>
        <ul id="members-list"></ul>
        <h2>Creation Date</h2>
        <p id="creation-date"></p>
        <h2>First Album</h2>
        <p id="first-album"></p>
      </div>
      <div class="">
        <img src="" alt="" id="artist-image" class="" />
      </div>
      <div class="">
        <ul class="" id="concert-dates">
          <li class=""><h2>Concert Dates</h2></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Inscription</h2>
    <form id="registrationForm">
        <div class="form-group">
            <label for="username">Nom</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="email">Mail:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit">S'inscrire</button>
        </div>
    </form>
    <p>Vous recevrez un mail avec les tickets comme quoi vous vous êtes bien inscris, merci de votre participation.</p>
   </div>

  <script src="../visuel/js/artist.js"></script>
</body>
</html>
