<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../visuel/css/artist.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <title>Groupie Tracker - Artiste</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-container container">
                <input type="checkbox"/>
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="menu-items">
                    <li><a href="index.html">Accueil</a></li>
                </ul>
                <h2>Groupie Tracker</h2>
            </div>
        </nav>
    </header>
    <main>
        <div class="left-column">
            <h1 id="artist-name"></h1>
            <img id="artist-image" alt="Artist Image">
            <h3>Création:</h3>
            <ul id="creation-date"></ul>
            <h3>Premier Album:</h3>
            <ul id="first-album"></ul>
        </div>
        <div class="right-column">
            <h3>Membres</h3>
            <ul id="members-list"></ul>
            <h3>Concerts</h3>
            <ul id="concert-dates"></ul>
            <div id="map"></div>
        </div>
    </main>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="../visuel/js/base.js"></script>
</body>
</html>