<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../visuel/css/base.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <header>
        <nav class="navbar">
        <div class="navbar-container container">
          <input type="checkbox"/>
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>
          <ul class="menu-items">
            <li><a href="#">#1</a></li>
            <li><a href="#">#2</a></li>
            <li><a href="#">#3</a></li>
          </ul>
          <h2>Groupie Tracker</h2>
        </div>
      </nav>
        <video autoplay muted loop>
          <source src="../visuel/img/Warsongs Piercing Light (Mako Remix)  Music - League of Legends.mp4" type="video/mp4">
        </video>
        <div class="content">
          <h1>Bienvenue</h1>
          <h3>-- profiter des meilleurs groupes dans le monde ! --</h3>
        </div>
      </header>

      <div id="listeArtistes"></div>

    <script>
        // Fonction pour envoyer une requête à API et afficher la liste des artistes
        function obtenirArtistes() {
            fetch('/artist') // Envoyer une requête GET au serveur pour obtenir la liste des artistes
              .then(response => response.json()) // Convertir la réponse en format JSON
              .then(artistes => {
                    // Effacer le contenu de la div où la liste des artistes sera affichée
                    document.getElementById('listeArtistes').innerHTML = '';

                    // Parcourir la liste des artistes obtenue et les afficher sur la page
                    artistes.forEach(artiste => {
                        // Créer un élément pour afficher les informations de l'artiste
                        const elementArtiste = document.createElement('div');
                        // Ajouter la classe "slot" à l'élément
                        elementArtiste.classList.add('slot');
                        // Définir le contenu HTML de l'élément
                        elementArtiste.innerHTML = `
                            <h2>${artiste.name}</h2>
                            <img src="${artiste.image}" alt="${artiste.name}">
                            <a href="artist.html">voir plus</a>
                        `;
                        // Ajouter l'élément créé à la liste des artistes sur la page
                        document.getElementById('listeArtistes').appendChild(elementArtiste);
                    });
                })
              .catch(error => console.error('Erreur lors de la récupération des artistes :', error)); // Gérer les erreurs
        }

        // Appeler la fonction pour obtenir et afficher la liste des artistes lorsque la page est chargée
        window.onload = obtenirArtistes;
    </script>

</body>
</html>