<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../visuel/css/base.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <header>
        <nav class="navbar">
        <div class="navbar-container container">
          <input type="checkbox"/>
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>
          <ul class="menu-items">
            <li><a href="#">#1</a></li>
            <li><a href="#">#2</a></li>
            <li><a href="#">#3</a></li>
          </ul>
          <h2>Groupie Tracker</h2>
        </div>
      </nav>
        <video autoplay muted loop>
          <source src="../visuel/img/Coldplay .mp4" type="video/mp4">
        </video>
        <div class="content">
          <h1>Bienvenue</h1>
          <h3>-- profiter des meilleurs groupes dans le monde ! --</h3>
        </div>
      </header>

      <section class="filters">
        <h3>Filtres</h3>
        <div>
            <label for="artist-name">Nom de l'artiste :</label>
            <input type="text" id="artist-name" placeholder="Rechercher par nom">
        </div>
        <button onclick="obtenirArtistes()">Filtrer</button>
    </section>
    

      <section class="filters">
        <h3>Filtres</h3>
        <div>
            <label for="creation-date-range">Date de création :</label>
            <input type="number" id="creation-date-min" placeholder="Min">
            <input type="number" id="creation-date-max" placeholder="Max">
        </div>
        <div>
            <label for="first-album-date-range">Date du premier album :</label>
            <input type="number" id="first-album-date-min" placeholder="Min">
            <input type="number" id="first-album-date-max" placeholder="Max">
        </div>
        <div>
            <label for="number-of-members-range">Nombre de membres :</label>
            <input type="number" id="members-min" placeholder="Min">
            <input type="number" id="members-max" placeholder="Max">
        </div>
        <div>
            <label>Lieux de concerts :</label>
            <div id="locations-checkboxes">
                <!-- Les checkboxes pour les lieux de concerts seront ajoutées ici -->
            </div>
        </div>
        <button onclick="obtenirArtistes()">Filtrer</button>
    </section>
    
      <div id="listeArtistes"></div>

    <script src="../visuel/js/base.js"></script>

</body>
</html>